.width {
    width: 100%;
    height: 160px;
}

.imgEffect {
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.imgEffect::after {
    content: "";
    position: absolute;
    top: 2%; 
    left: 15px;
    width: 88%; height: 96%;
    background-color: var(--light-green-color);
    opacity: 0;
    border-radius: 12px;
    transition: opacity 0.3s;
}

.imgEffect::before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: white;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition: opacity 0.3s, transform 0.3s;
    -moz-transition: opacity 0.3s, transform 0.3s;
    -ms-transition: opacity 0.3s, transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
}

.imgEffect:hover::after {
    opacity: 0.5;
}

.imgEffect:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
}

.sectionHightPortfolio {
    min-height: 100vh;
}

.fullImage {
    position: fixed;
    inset: 0;
    background-color: rgba(26, 188, 156, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullImage img {
    width: 40%;
    max-width: 600px;
    z-index: 1001;
}

@media (max-width: 992px) {
    .fullImage img {
        width: 60%;
    }

    .wMiddle {
        width: 100%;
    }

    .sectionHightPortfolio {
        min-height: 120vh;
    }
}

@media (max-width: 576px) {
    .fullImage img {
        width: 90%;
    }

    .wMiddle {
        width: 100%;
    }

    .sectionHightPortfolio {
    min-height: 200vh;
    }
}