
.whiteColor {
    background-color: white;
}

.darkColor {
    background-color: #2c3e50;

}

.textWhit {
    color: white;
}

.textDark {
    color: #2c3e50;
}

.bg-transparent {
    background-color: transparent;
}

.right {
    width: 30%;
    height: 4px;
}

.left {
    width: 30%;
    height: 4px;
}